<?xml version="1.0" encoding="UTF-8"?>
<!-- See https://logging.apache.org/log4j/2.x/manual/configuration.html -->
<!-- See https://logging.apache.org/log4j/2.x/manual/appenders.html -->
<Configuration status="error" name="SecureLoggingPolicy">
    <Appenders>
        <File name="File" fileName="App.log" ignoreExceptions="false" append="false" immediateFlush="true">
            <PatternLayout>
                <Pattern>%encode{%.-150m}{CRLF}%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>